<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="author" content="dantezhu" />

        <title>Index</title>

        <script src="{{ fujs.path }}" type="text/javascript" charset="utf-8"></script>

        <script type="text/javascript" charset="utf-8">
            var url = flask_util.url_for('sub.bpt_index', {y:2, x:'/sdf'});
            alert(url);

            url = flask_util.url_for('show_id', {myid:'dante'});
            alert(url);
        </script>
    </head>

    <body>
        <p>flask_util.js:</p> 
        <p>path: {{ fujs.path }}</p>
        <p>endpoint: {{ fujs.endpoint }}</p>
        
    </body>
</html>
