.innerShape {
    fill-opacity: .6;
    stroke: Black;
}

.aggShape {
    fill-opacity: .2;
    stroke: DimGrey;
}

#docViewTitle {
    cursor: not-allowed;
}

#topicViewTitle {
    cursor: not-allowed;
}